# sbt compilation output
target/
project/target
submission.zip
# Compiler output and nodejs modules
compiler/**/*.html
compiler/**/*.wat
compiler/**/*.wasm
compiler/**/*.js
compiler/node_modules
compiler/package-lock.json
*.jar
*.swp
*.pdf
